.generic-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-table-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  grid-template-rows: auto auto;
  height: 50vh;
}

.form-container {
  grid-column: 1;
  grid-row: 1;
}

.image-card-container {
  grid-column: 1;
  grid-row: 2;
  width: auto;
  height: auto;
}

.table-container {
  grid-column: 2;
  grid-row: 1 / span 2;
}

h2 {
  font-size: clamp(35px, 1.5vw, 45px);
  display: flex;
  justify-content: center;
}
