.generic-image-card {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  object-fit: contain;
}

.generic-image {
  max-height: 150px;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.image-card-container {
  width: auto;
  height: auto;
  background-color: #12898d56;
  padding: 10px;
  margin: 10px;
}
