.generic-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-table-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 10px;
}

.form-container {
  grid-column: 1;
  grid-row: 1;
  background-color: #12898d56;
}

.image-card-container {
  grid-column: 1;
  grid-row: 2;
}

.table-container {
  background-color: #12898d56;
  grid-column: 2;
  grid-row: 1 / span 2;
}

h2 {
  font-size: clamp(20px, 1.5vw, 25px);
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .form-table-wrapper {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    gap: 4px;
  }

  .form-container {
    grid-column: 1;
    grid-row: 1;
  }

  .image-card-container {
    grid-column: 2;
    grid-row: 1;
  }

  .table-container {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
}
