.generic-table {
  background-color: rgba(2, 126, 12, 0.337);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto;
  overflow-y: auto;
  overflow-x: auto;
  margin: 10px;
  padding: 10px;
}

.generic-table table {
  border-collapse: collapse;
  /* tamaño de las letras de la tabla */
  font-size: clamp(12px, 1.5vw, 16px);
  overflow-x: auto;
}

.generic-table th,
.generic-table td {
  border: 1px solid transparent;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  overflow-x: auto;
}

/* cuando la tabla es seleccionada  */
.selected {
  background-color: #00819ed2;
  border: 2px solid #2ff921;
}
/* esto es el resaltado cuando se escribe en busqueda sin tener que darle al boton de buscar */
mark {
  background-color: #74ff58ca;
  color: black;
  padding: 0 2px;
  font-weight: bold;
}

/* configuracion responsive de la tabla(tamaño) */
.generic-table {
  max-width: 40vw;
  max-height: 58vh;
  /* Opcional: asegurar que no crezca más que eso */

  overflow: auto;
}
@media (max-width: 768px) {
  .generic-table {
    max-width: 90vw;
    max-height: 30vh;
    /* Opcional: asegurar que no crezca más que eso */
    overflow: auto;
  }
}
