.generic-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  justify-content: space-around;
  margin: 10px;
  background-color: #12898d56;
  height: auto;
  max-height: 100%;
}

.generic-form div:not(.form-buttons) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.generic-form input,
.generic-form select {
  width: 100%;
  font-size: clamp(12px, 1.5vw, 14px);
}

.generic-form .form-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 8px;
  gap: 8px;
}

/* ************************************ */
/* Tamaño de las letras en GENERIC FORM y su ajuste con la ventana */
.generic-form button {
  height: clamp(20px, 1.5vw, 30px);
  width: clamp(50px, 1.5vw, 60px);
  font-size: clamp(10px, 1.5vw, 12px);
  /* centrar sus */
  display: flex;
  align-items: center;
  justify-content: center;
}

.generic-form label {
  font-weight: bold;
  font-size: clamp(10px, 1.5vw, 12px);
  min-width: 50px;
}
/* ************************************* */

@media (max-width: 768px) {
  .generic-form .form-buttons {
    margin: 6px;
    gap: 2px;
  }
  .generic-form {
    margin: 8px;
    gap: 2px;
  }
}

@media (max-width: 384px) {
  .generic-form .form-buttons {
    margin: 2px;
    gap: 1px;
  }
  .generic-form {
    margin: 2px;
    gap: 1px;
  }
}
