.general-navbar {
  background-color: #080c3f81;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(0.8rem, 1vw, 1rem);
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  margin: 0 auto; /* centrar contenido al medio */
  overflow-x: auto;
  scrollbar-width: none; /* Ocultar scrollbar en Firefox */
  -ms-overflow-style: none; /* Ocultar scrollbar en IE y Edge */
}

.logo-hotel {
  flex-shrink: 0; /* Evita que el logo se reduzca o desplace */
  font-size: 1.2rem;
  size: 50px;
}
.general-navbar button {
  flex-shrink: 0;
  white-space: nowrap;
  padding: 6px 12px;
  cursor: pointer;
}
.config-comp-manager {
  width: 100%;
  overflow: hidden; /* ❌ Esto puede ocultar el scroll */
}
